In [1]:
import pandas as pd

In [273]:
data = pd.read_csv("../../../../inf560_liver_data/liver_data_inf560.csv")
data = data.loc[:, ("REGION", "GSTATUS", "GTIME", "DAYSWAIT_CHRON")]
data.REGION = data.REGION.astype(int)
cron = data.groupby("REGION")["DAYSWAIT_CHRON"].mean().to_frame().reset_index()
print cron
data = data.loc[:, ("REGION", "GSTATUS", "GTIME")]

    REGION  DAYSWAIT_CHRON
0        1      200.879079
1        2      197.425359
2        3      200.297999
3        4      197.499477
4        5      201.879557
5        6      207.120367
6        7      202.748459
7        8      206.813136
8        9      193.429236
9       10      197.441638
10      11      203.049957

In [256]:
three_months = data.loc[data["GTIME"] <= 90]
print three_months.shape
three_months = three_months.drop(columns = ["GTIME"])
three_months.rename(columns = {"GSTATUS": "GSTATUS_3_m"}, inplace = True)
print three_months.loc[:10, :]

(9960, 3)
   REGION  GSTATUS_3_m
1       4            1
2      11            1

In [257]:
one_year = data.loc[data["GTIME"] <= 365]
print one_year.shape
one_year = one_year.drop(columns = ["GTIME"])
one_year.rename(columns = {"GSTATUS": "GSTATUS_1_y"}, inplace = True)
print one_year.loc[:10, :]

(21912, 3)
   REGION  GSTATUS_1_y
1       4            1
2      11            1
3       9            1
5       7            1

In [258]:
three_years = data.loc[data["GTIME"] <= 3 * 365]
print three_years.shape
three_years = three_years.drop(columns = ["GTIME"])
three_years.rename(columns = {"GSTATUS": "GSTATUS_3_y"}, inplace = True)
print three_years.loc[:10, :]

(40616, 3)
   REGION  GSTATUS_3_y
1       4            1
2      11            1
3       9            1
4       5            0
5       7            1

In [259]:
three_months = three_months.groupby("REGION").mean().reset_index()
three_months["GSTATUS_3_m"] = three_months["GSTATUS_3_m"] * 100
print three_months

    REGION  GSTATUS_3_m
0        1    28.232190
1        2    30.392157
2        3    27.565632
3        4    29.134721
4        5    29.573391
5        6    29.276316
6        7    27.777778
7        8    27.953890
8        9    27.522936
9       10    29.721030
10      11    29.348986

In [260]:
one_year = one_year.groupby("REGION").mean().reset_index()
one_year["GSTATUS_1_y"] = one_year["GSTATUS_1_y"] * 100
print one_year

    REGION  GSTATUS_1_y
0        1    27.858881
1        2    29.591461
2        3    28.669599
3        4    28.910891
4        5    29.260238
5        6    30.265211
6        7    27.789474
7        8    29.838710
8        9    30.853242
9       10    28.528073
10      11    29.063098

In [261]:
three_years = three_years.groupby("REGION").mean().reset_index()
three_years["GSTATUS_3_y"] = three_years["GSTATUS_3_y"] * 100
print three_years

    REGION  GSTATUS_3_y
0        1    28.627708
1        2    29.294720
2        3    29.012346
3        4    29.214999
4        5    28.833922
5        6    29.076790
6        7    27.390824
7        8    28.536415
8        9    31.322160
9       10    28.630250
10      11    29.626770

In [264]:
regions = pd.read_csv("../data/wage_gap_all.csv")
regions = regions.loc[:, ["Region", "State"]]
regions.columns = ["REGION", "STATE"]
print regions.loc[:10, :]

    REGION STATE
0        1    RI
1        1    MA
2        1    CT
3        1    ME
4        1    NH
5        2    DE
6        2    DC
7        2    MD
8        2    NJ
9        2    PA
10       2    WV

In [274]:
merged_data = pd.merge(three_months, regions, on="REGION")
merged_data = pd.merge(merged_data, one_year, on="REGION")
merged_data = pd.merge(merged_data, three_years, on="REGION")
merged_data = pd.merge(merged_data, cron, on="REGION")
print merged_data

    REGION  GSTATUS_3_m STATE  GSTATUS_1_y  GSTATUS_3_y  DAYSWAIT_CHRON
0        1    28.232190    RI    27.858881    28.627708      200.879079
1        1    28.232190    MA    27.858881    28.627708      200.879079
2        1    28.232190    CT    27.858881    28.627708      200.879079
3        1    28.232190    ME    27.858881    28.627708      200.879079
4        1    28.232190    NH    27.858881    28.627708      200.879079
5        1    28.232190    VT    27.858881    28.627708      200.879079
6        2    30.392157    DE    29.591461    29.294720      197.425359
7        2    30.392157    DC    29.591461    29.294720      197.425359
8        2    30.392157    MD    29.591461    29.294720      197.425359
9        2    30.392157    NJ    29.591461    29.294720      197.425359
10       2    30.392157    PA    29.591461    29.294720      197.425359
11       2    30.392157    WV    29.591461    29.294720      197.425359
12       3    27.565632    FL    28.669599    29.012346      200.297999
13       3    27.565632    GA    28.669599    29.012346      200.297999
14       3    27.565632    AR    28.669599    29.012346      200.297999
15       3    27.565632    AL    28.669599    29.012346      200.297999
16       3    27.565632    MS    28.669599    29.012346      200.297999
17       3    27.565632    LA    28.669599    29.012346      200.297999
18       4    29.134721    TX    28.910891    29.214999      197.499477
19       4    29.134721    OK    28.910891    29.214999      197.499477
20       5    29.573391    CA    29.260238    28.833922      201.879557
21       5    29.573391    NM    29.260238    28.833922      201.879557
22       5    29.573391    NV    29.260238    28.833922      201.879557
23       5    29.573391    AZ    29.260238    28.833922      201.879557
24       5    29.573391    UT    29.260238    28.833922      201.879557
25       6    29.276316    OR    30.265211    29.076790      207.120367
26       6    29.276316    WA    30.265211    29.076790      207.120367
27       6    29.276316    ID    30.265211    29.076790      207.120367
28       6    29.276316    MT    30.265211    29.076790      207.120367
29       6    29.276316    HI    30.265211    29.076790      207.120367
30       6    29.276316    AK    30.265211    29.076790      207.120367
31       7    27.777778    MN    27.789474    27.390824      202.748459
32       7    27.777778    IL    27.789474    27.390824      202.748459
33       7    27.777778    WI    27.789474    27.390824      202.748459
34       7    27.777778    SD    27.789474    27.390824      202.748459
35       7    27.777778    ND    27.789474    27.390824      202.748459
36       8    27.953890    CO    29.838710    28.536415      206.813136
37       8    27.953890    NE    29.838710    28.536415      206.813136
38       8    27.953890    MO    29.838710    28.536415      206.813136
39       8    27.953890    IA    29.838710    28.536415      206.813136
40       8    27.953890    KS    29.838710    28.536415      206.813136
41       8    27.953890    WY    29.838710    28.536415      206.813136
42       9    27.522936    NY    30.853242    31.322160      193.429236
43      10    29.721030    IN    28.528073    28.630250      197.441638
44      10    29.721030    OH    28.528073    28.630250      197.441638
45      10    29.721030    MI    28.528073    28.630250      197.441638
46      11    29.348986    NC    29.063098    29.626770      203.049957
47      11    29.348986    KY    29.063098    29.626770      203.049957
48      11    29.348986    TN    29.063098    29.626770      203.049957
49      11    29.348986    SC    29.063098    29.626770      203.049957
50      11    29.348986    VA    29.063098    29.626770      203.049957

In [277]:
merged_data = merged_data[["REGION", "STATE", "GSTATUS_3_m", "GSTATUS_1_y", "GSTATUS_3_y", "DAYSWAIT_CHRON"]]
print merged_data

    REGION STATE  GSTATUS_3_m  GSTATUS_1_y  GSTATUS_3_y  DAYSWAIT_CHRON
0        1    RI    28.232190    27.858881    28.627708      200.879079
1        1    MA    28.232190    27.858881    28.627708      200.879079
2        1    CT    28.232190    27.858881    28.627708      200.879079
3        1    ME    28.232190    27.858881    28.627708      200.879079
4        1    NH    28.232190    27.858881    28.627708      200.879079
5        1    VT    28.232190    27.858881    28.627708      200.879079
6        2    DE    30.392157    29.591461    29.294720      197.425359
7        2    DC    30.392157    29.591461    29.294720      197.425359
8        2    MD    30.392157    29.591461    29.294720      197.425359
9        2    NJ    30.392157    29.591461    29.294720      197.425359
10       2    PA    30.392157    29.591461    29.294720      197.425359
11       2    WV    30.392157    29.591461    29.294720      197.425359
12       3    FL    27.565632    28.669599    29.012346      200.297999
13       3    GA    27.565632    28.669599    29.012346      200.297999
14       3    AR    27.565632    28.669599    29.012346      200.297999
15       3    AL    27.565632    28.669599    29.012346      200.297999
16       3    MS    27.565632    28.669599    29.012346      200.297999
17       3    LA    27.565632    28.669599    29.012346      200.297999
18       4    TX    29.134721    28.910891    29.214999      197.499477
19       4    OK    29.134721    28.910891    29.214999      197.499477
20       5    CA    29.573391    29.260238    28.833922      201.879557
21       5    NM    29.573391    29.260238    28.833922      201.879557
22       5    NV    29.573391    29.260238    28.833922      201.879557
23       5    AZ    29.573391    29.260238    28.833922      201.879557
24       5    UT    29.573391    29.260238    28.833922      201.879557
25       6    OR    29.276316    30.265211    29.076790      207.120367
26       6    WA    29.276316    30.265211    29.076790      207.120367
27       6    ID    29.276316    30.265211    29.076790      207.120367
28       6    MT    29.276316    30.265211    29.076790      207.120367
29       6    HI    29.276316    30.265211    29.076790      207.120367
30       6    AK    29.276316    30.265211    29.076790      207.120367
31       7    MN    27.777778    27.789474    27.390824      202.748459
32       7    IL    27.777778    27.789474    27.390824      202.748459
33       7    WI    27.777778    27.789474    27.390824      202.748459
34       7    SD    27.777778    27.789474    27.390824      202.748459
35       7    ND    27.777778    27.789474    27.390824      202.748459
36       8    CO    27.953890    29.838710    28.536415      206.813136
37       8    NE    27.953890    29.838710    28.536415      206.813136
38       8    MO    27.953890    29.838710    28.536415      206.813136
39       8    IA    27.953890    29.838710    28.536415      206.813136
40       8    KS    27.953890    29.838710    28.536415      206.813136
41       8    WY    27.953890    29.838710    28.536415      206.813136
42       9    NY    27.522936    30.853242    31.322160      193.429236
43      10    IN    29.721030    28.528073    28.630250      197.441638
44      10    OH    29.721030    28.528073    28.630250      197.441638
45      10    MI    29.721030    28.528073    28.630250      197.441638
46      11    NC    29.348986    29.063098    29.626770      203.049957
47      11    KY    29.348986    29.063098    29.626770      203.049957
48      11    TN    29.348986    29.063098    29.626770      203.049957
49      11    SC    29.348986    29.063098    29.626770      203.049957
50      11    VA    29.348986    29.063098    29.626770      203.049957

In [283]:
merged_data["GSTATUS_3_m"] = 100 - merged_data["GSTATUS_3_m"]
merged_data["GSTATUS_1_y"] = 100 - merged_data["GSTATUS_1_y"]
merged_data["GSTATUS_3_y"] = 100 - merged_data["GSTATUS_3_y"]
print merged_data

    REGION STATE  GSTATUS_3_m  GSTATUS_1_y  GSTATUS_3_y  DAYSWAIT_CHRON
0        1    RI    71.767810    72.141119    71.372292      200.879079
1        1    MA    71.767810    72.141119    71.372292      200.879079
2        1    CT    71.767810    72.141119    71.372292      200.879079
3        1    ME    71.767810    72.141119    71.372292      200.879079
4        1    NH    71.767810    72.141119    71.372292      200.879079
5        1    VT    71.767810    72.141119    71.372292      200.879079
6        2    DE    69.607843    70.408539    70.705280      197.425359
7        2    DC    69.607843    70.408539    70.705280      197.425359
8        2    MD    69.607843    70.408539    70.705280      197.425359
9        2    NJ    69.607843    70.408539    70.705280      197.425359
10       2    PA    69.607843    70.408539    70.705280      197.425359
11       2    WV    69.607843    70.408539    70.705280      197.425359
12       3    FL    72.434368    71.330401    70.987654      200.297999
13       3    GA    72.434368    71.330401    70.987654      200.297999
14       3    AR    72.434368    71.330401    70.987654      200.297999
15       3    AL    72.434368    71.330401    70.987654      200.297999
16       3    MS    72.434368    71.330401    70.987654      200.297999
17       3    LA    72.434368    71.330401    70.987654      200.297999
18       4    TX    70.865279    71.089109    70.785001      197.499477
19       4    OK    70.865279    71.089109    70.785001      197.499477
20       5    CA    70.426609    70.739762    71.166078      201.879557
21       5    NM    70.426609    70.739762    71.166078      201.879557
22       5    NV    70.426609    70.739762    71.166078      201.879557
23       5    AZ    70.426609    70.739762    71.166078      201.879557
24       5    UT    70.426609    70.739762    71.166078      201.879557
25       6    OR    70.723684    69.734789    70.923210      207.120367
26       6    WA    70.723684    69.734789    70.923210      207.120367
27       6    ID    70.723684    69.734789    70.923210      207.120367
28       6    MT    70.723684    69.734789    70.923210      207.120367
29       6    HI    70.723684    69.734789    70.923210      207.120367
30       6    AK    70.723684    69.734789    70.923210      207.120367
31       7    MN    72.222222    72.210526    72.609176      202.748459
32       7    IL    72.222222    72.210526    72.609176      202.748459
33       7    WI    72.222222    72.210526    72.609176      202.748459
34       7    SD    72.222222    72.210526    72.609176      202.748459
35       7    ND    72.222222    72.210526    72.609176      202.748459
36       8    CO    72.046110    70.161290    71.463585      206.813136
37       8    NE    72.046110    70.161290    71.463585      206.813136
38       8    MO    72.046110    70.161290    71.463585      206.813136
39       8    IA    72.046110    70.161290    71.463585      206.813136
40       8    KS    72.046110    70.161290    71.463585      206.813136
41       8    WY    72.046110    70.161290    71.463585      206.813136
42       9    NY    72.477064    69.146758    68.677840      193.429236
43      10    IN    70.278970    71.471927    71.369750      197.441638
44      10    OH    70.278970    71.471927    71.369750      197.441638
45      10    MI    70.278970    71.471927    71.369750      197.441638
46      11    NC    70.651014    70.936902    70.373230      203.049957
47      11    KY    70.651014    70.936902    70.373230      203.049957
48      11    TN    70.651014    70.936902    70.373230      203.049957
49      11    SC    70.651014    70.936902    70.373230      203.049957
50      11    VA    70.651014    70.936902    70.373230      203.049957

In [284]:
merged_data.to_csv("../data/liver_status.csv", index=False)